*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.hero {
    background-color: #1F2937;
    color: aliceblue;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1128px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
}

.nav {
    padding-top: 1em;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    gap: 1em;
}

.nav__link:hover {
    opacity: 75%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero__content {
    justify-content: space-between;
    align-items: center;
    padding: 4em 0;  
}

.hero__focus {
    width: 55%;
    color: #F9FAF8;
}

.hero__focus--title {    
    font-size: 48px;
    font-weight: bolder;
}

.hero__focus--text {    
    font-size: 18px;
    margin-bottom: 1em;
} 

.hero__focus--btn {
    background: #3882F6;
    padding: .5em 1em;
    border-radius: .5em;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    cursor: pointer;    
}

.hero__img {
    width: 43%;
}

hero__ img img {
    /* width: 600px; */
}

@media (max-width: 600px) {
    .row {
        display: block;
    }

    .hero__focus,
    .hero__img {
        width: 100%;
    }

    .hero__img {
        margin-top: 2em;
    }
}