*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    background-color: #1F2937;
    color: aliceblue;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1128px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    padding: 1em 0;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    gap: 1em;
}

.nav__link:hover {
    opacity: 75%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}